# macOS
.DS_Store

# Xcode
build/
DerivedData/
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcworkspace/contents.xcworkspacedata

# Swift Package Manager
.build/
Packages/
.swiftpm/

# CocoaPods
Pods/
